.rootDir{
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    background-color: thistle;
    height: 50px;
    border-radius: 3px;
    margin-top: 3px;
}

.button{
    display: flex;
    gap: 2px;
    width: 100px;
    height: 30px;
    align-items: center;
}

.newFolder,.newFile{
    display: flex;
    gap:2px;
    align-items: center;    
}