.rootDir{
    display: flex;
    gap:50px;
    width: 500px;
    align-items: center;
}

.button{
    display: flex;
    gap: 2px;
    width: 100px;
    height: 30px;
    align-items: center;
}

.newFolder,.newFile{
    display: flex;
    gap:2px;
    align-items: center;    
}